<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name = "browserfunction">
    <classes>
        <class name = "generic.BrowserFunction">
        </class> 
    </classes>
 </test>
 
 <test name = "tripadvisor">
    <classes>
        <class name = "script.TripAdvisor">
        </class> 
    </classes>
 </test>
</suite> <!-- Suite -->
